<!DOCTYPE html>

<html>

<head>
    <title>
        BOOK MY TRIP
    </title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <div class="body main">
        <!-- home page navbar -->
        <nav class="navbar background">
            <ul class="nav-list">
                <div class="logo">
                    <a href="index.hbs"><img src="./images/logo.png"></a>
                </div>
                <li><a href="#landing-page">HOME</a></li>
                <li><a href="#trending">TRENDING</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="/logout">LOG OUT</a></li>
            </ul>

        </nav>


        <!-- landing page -->
        <div id="landing-page">
            <h1 class="space">Welcome To BOOK MY TRIP</h1>
            <p class="space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptas in beatae
                asperiores dolorem doloremque, quidem recusandae totam natus distinctio! Tempora illo libero unde aut
                consequuntur dignissimos excepturi sapiente tempore!</p>
            <button class="space"><a href="#trending">Visit now!</a></button>
        </div>


        <!-- Trending Places -->
        <Section id="trending" Class="Places" style="margin-top: 2rem;">
            <Div Class="Places-Text">
                <H2>Trending Places</H2>
            </Div>

            <Div Class="Cards">
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/gujrat.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐⭐⭐⭐</Span>
                        <H2>Gujrat</H2>
                        <P Class="Cost"><span>&#8377;</span>25000/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>

                </Div>
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/tamilnadu.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐⭐⭐</Span>
                        <H2>Tamilnadu</H2>
                        <P Class="Cost"><span>&#8377;</span>20000/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>

                </Div>
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/hyderabad.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐</Span>
                        <H2>Hyderabad</H2>
                        <P Class="Cost"><span>&#8377;</span>35000/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>

                </Div>
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/mahar.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐⭐⭐⭐</Span>
                        <H2>Maharashtra</H2>
                        <P Class="Cost"><span>&#8377;</span>50000/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>

                </Div>
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/delhi.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐⭐</Span>
                        <H2>Delhi</H2>
                        <P Class="Cost"><span>&#8377;</span>15000/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>

                </Div>
                <Div Class="Card">
                    <Div Class="Zoom-Img">
                        <Div Class="Img-Card">
                            <Img style="width:100%;height:100%" Src="./images/j&k.jpg">
                        </Div>
                    </Div>

                    <Div Class="Text">
                        <Span Class="Rating">⭐⭐⭐⭐</Span>
                        <H2>Jammu & Kashmir</H2>
                        <P Class="Cost"><span>&#8377;</span>55050/ Per Person</P>
                        <Div Class="Card-Box">
                            <a class="Location bhai" href="/book">Book Now</a>
                        </Div>
                    </Div>
                </Div>
            </Div>
            <br>
            <br>
            <br>
            <!-- ===============aboutus============== -->
            <div id="about">
                <div id="upper">
                    <h1>About Travel Guide</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cum quidem tenetur,
                        consequuntur recusandae ex similique repellat facilis excepturi praesentium provident dolore at,
                        laboriosam quasi nihil dolores qui ut fugit?</p>
                </div>
                <div id="lower">
                    <div id="card1" class="cards">
                        <div class="info">
                            <h3>MISSION</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem quaerat,
                                adipisci nobis iusto dolor praesentium atque autem </p>
                        </div>
                        <div class="img">
                            <i class="fa-solid fa-road"></i>
                        </div>
                    </div>
                    <div id="card2" class="cards">
                        <div class="img">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <div class="even">
                            <h3>AWARDS</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem quaerat,
                                adipisci nobis iusto dolor praesentium atque autem </p>
                        </div>
                    </div>
                    <div id="card3" class="cards">
                        <div class="info">
                            <h3>PRINCIPLES</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem quaerat,
                                adipisci nobis iusto dolor praesentium atque autem </p>
                        </div>
                        <div class="img">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                    </div>
                    <div id="card4" class="cards">
                        <div class="img">
                            <i class="fa-solid fa-landmark-dome"></i>
                        </div>
                        <div class="even">
                            <h3>HISTORY</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptatem quaerat,
                                adipisci nobis iusto dolor praesentium atque autem </p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- my trips
            <div id="mytrip">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Days</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                </table>
            </div> --}}

            <!-- our team -->
            <div id="team">
                <div id="upper">
                    <h1>Meet Our Team</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus aut, doloribus veniam impedit,
                    </p>
                </div>
                <div id="lower">
                    <div class="cards">
                        <div class="img">
                            <img src="./images/team_1.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="space" class="name">Neel Patil</h3>
                            <h4 class="space" class="designation">Travel Counsellor.</h4>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img">
                            <img src="./images/team_2.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="space" class="name">Praful Patil</h3>
                            <h4 class="space" class="designation">Tour Director</h4>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img">
                            <img src="./images/team_3.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3 class="space" class="name">Chetan Kachave</h3>
                            <h4 class="space" class="designation">Local Tour Guide</h4>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img">
                            <img src="./images/team_4.avif" alt="">
                        </div>
                        <div class="info">
                            <h3 class="space" class="name">Sonakshi Sherigar</h3>
                            <h4 class="space" class="designation">Reservations Sales Agent</h4>
                        </div>
                    </div>
                </div>
            </div>



            <div id="welcome">
                <span>Welcome back {{Name}}</span>
            </div>

            <!-- stay in touch -->
            <div id="touch">
                <div id="head">
                    <h2>Have you any queries?</h2>
                </div>
                <form action="/queries" method="post">
                    <div id="form">
                        <input type="text" name="fname" required placeholder="Enter First Name">
                        <input type="text" name="lname" required placeholder="Enter Last Name">
                        <input type="email" name="email" required placeholder="Enter Your Email">
                        <textarea name="message" id="" cols="30" rows="5" required style="resize: none;"
                            placeholder="Enter Your Queries"></textarea>
                        <input type="submit" value="Post">

                    </div>
                </form>

            </div>

            <!--===========card details=================-->
            <div id="card-d">
                {{!-- <input type="checkbox" id="check">
                <div class="card space">
                    <div class="img">
                        <img src="images/gujrat.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="container">
                        <h4 class="space"><b>Tajmahal</b></h4>
                        <h4 class="space"><b>Rs. 15000</b></h4>
                        <button class="space">Book Now</button>
                    </div>
                </div> --}}
            </div>


            <!--===========Footer=================-->
            <Div Class="Footer">
                <Div Class="Links">
                    <H3>Quick Links</H3>
                    <Ul>
                        <Li>Offers & Discounts</Li>
                        <Li>Get Coupon</Li>
                        <Li>Contact Us</Li>
                        <Li>About</Li>
                    </Ul>
                </Div>
                <Div Class="Links">
                    <H3>Contact us</H3>
                    <Ul>
                        <Li>head quarter</Li>
                        <Li>tour query </Li>
                        <Li>booking query</Li>
                        <Li>details </Li>
                    </Ul>
                </Div>
                <Div Class="Links">
                    <H3>Support</H3>
                    <Ul>
                        <Li>Frequently Asked Questions</Li>
                        <Li>Report A Payment Issue</Li>
                        <Li>Terms & Conditions</Li>
                        <Li>Privacy Policy</Li>
                    </Ul>
                </Div>
            </Div>
            <script src="js/aindex.js"></script>
        </Section>

</Body>

</html>